.footer {
   background-color: #10335e;
  padding: 24px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer__copy {
  color: #FFFFFF;
  font-size: 0.85rem;
  line-height: 1.6;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}