.TextContainer      {
                      width: 680px;
                      height: 620px;
                      background-color: gainsboro;
                      padding-left: 40px;
                    }
.languaje           {
                      background-color: #F2F2F2;
                      padding-left: 10px;
                      padding-bottom: 1px;
                      width: 630px;
                      height: 180px;                     
                    }
.innerConteiner     {
                        width: 650px;

                    }
.sections           {
                      display: flex;
                      gap: 30px;
                    }
.titulo             {
                      text-align: center;
                    }
.img                 {
                      width: 27px;
                      height: 27px;
                      display: flex;
                      position: relative;
                      right: 32px;
                      top: 52px;                   
                    }
.ley                {
                      background-color: #A6A6A6;
                      width: 400px;
                      height: 28px;
                      display: block;
                      font-size: 20px;
                    }
.duty               {
                      background-color: #F7F5F5;
                      width: 300px;
                      height: 28px;
                      display: flex;
                      align-items: center;
                      padding-left: 10px;
                      box-sizing: border-box;
                      border-radius: 20px;
                      font-size: 20px;
                      justify-content: center;  
                      text-align: center;   
                      
                    }
.box                {
                      display: flex;
                      flex-wrap: wrap;
                      gap: 10px;
                      width: 820px;
                      
                    }